
.services__containerFlex {
    display: flex;
    justify-content: space-around;
    padding: 60px;
 }

 


.services__container h1 {
  font-size: 64px !important;
  font-weight: 700;
  line-height: 96px;
 }

.services__container{
    text-align: center;
    background-image: url('../src/bg2.png');
    background-color: #13171C;
    background-blend-mode: multiply;
    background-position: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 20px; /* Espacio entre las cards */
    padding: 50px;
}

.services__cards {
    background-color: rgba(57, 62, 70, 0.5);
    padding: 30px;
    color: white;
    width: 80%;
    max-width: 300px;
    text-align: center;
    margin-top: 30px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye espacio entre elementos */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra para resaltar las cards */
    border-radius: 8px;

}

.services__cards p{
   color: #ffffff92;
}



.services__img {
    width: 100%;
    height: 150px; /* Limita la altura máxima */

    margin-bottom: 15px;
}

@media (min-width: 960px) {
    .services__container {
        grid-template-columns: repeat(3, 1fr);
        padding: 50px;
    }

    .services__cards:hover{
        margin-top: 10px;
    }



   
}

@media (max-width: 1200px) {
    .services__cards {
     height: 470px;
     padding: 10px;
    
    }



   
}

@media (max-width: 960px) {

    .services__containerFlex{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}

